<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Virtual Machine</title>
    <style>
        .code { background:#EEEEEE; width:550px; font-size: 11px; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace; }
    </style>
</head>
<body>
    <h1>Virtual Machine</h1>
    <p>
        Edit the source code below and click "Compile" to compile or "Compile and Run" to also execute.
    </p>

    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;">
            <strong>Source code</strong>
            <br/>
            <br/>
            <textarea rows="10" style="width:550px" id="sourcecode">
script
{
    a = 0;
    while (a < 10)
    {
        a = a + 1;
        output(a);
    }
}
            </textarea>
            <br/>
            <br/>
            <button onclick="compile();">Compile</button>
            <button onclick="compileAndRun();">Compile and Run</button>
            <button>Stop</button>
            <button onclick="reset();">Reset</button>
        </div>
        <div style="margin-left: 620px;">
            <strong>Disassembly</strong><br/>
            <div class="code">
                <pre id="disassembly">
Click "Compile" to compile source code.
                </pre>
            </div>
        </div>
    </div>
    <br/>
    <br/>

    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;">
            <strong>Live Memory</strong><br/>
            <div class="code">
                <pre id="memory">
                </pre>
            </div>
        </div>
        <div style="margin-left: 620px;">
            <strong>Registers</strong><br/>
            <div class="code">
                <pre>

                </pre>
            </div>
            <br/>
            <br/>

            <strong>Console</strong><br/>
            <div class="code">
                <pre id="console">
Click "Compile and run" to view console output from program.
                </pre>
            </div>
        </div>
    </div>


    <br/>
    <br/>

    <i>Status: <span id="connectionStatus" />.</i>

<script>

    function testJSON() {
        var jsonSocket = new WebSocket("ws://128.199.43.95:7379/.json");
        jsonSocket.onopen = function() {
            console.log("JSON socket connected!");
            document.getElementById("connectionStatus").textContent = "Connected";

            // Subscribe to the "bytecodes:{userid}" channel.
            var userid = getCookie("userid");
            jsonSocket.send(JSON.stringify(["SUBSCRIBE",
                        "bytecodes:" + userid,
                        "disassembly:" + userid,
                        "console:" + userid,
                        "mem:" + userid]));
            //jsonSocket.send(JSON.stringify(["SUBSCRIBE", "disassembly:" + userid]));
        };

        jsonSocket.onmessage = function(messageEvent) {
            //console.log("JSON received:", messageEvent.data);

            var userid = getCookie("userid");
            message = JSON.parse(messageEvent.data);
            //console.log(message);

            // If disassembly received, update UI.
            if(message.SUBSCRIBE[0] == "message" && message.SUBSCRIBE[1] == "disassembly:" + userid)
            {
                document.getElementById("disassembly").textContent = message.SUBSCRIBE[2];
            }

            // If console received, update UI. TODO: Append.
            if(message.SUBSCRIBE[0] == "message" && message.SUBSCRIBE[1] == "console:" + userid)
            {
                document.getElementById("console").textContent = message.SUBSCRIBE[2];
            }

            // If mem received, update UI.
            if(message.SUBSCRIBE[0] == "message" && message.SUBSCRIBE[1] == "mem:" + userid)
            {
                document.getElementById("memory").textContent = message.SUBSCRIBE[2];
            }
        };

        jsonSocket.onerror = function(message) {
            console.log("websocket to redis error:", message);
            document.getElementById("connectionStatus").textContent = "Error";
        }

        jsonSocket.onclose = function(message) {
            console.log(("websocket to redis closed: ", message));
            document.getElementById("connectionStatus").textContent = "Not connected";
        }
    }
    testJSON();

    function getCookie(cookie) {
        return document.cookie.split(';').reduce(function (prev, c) {
            var arr = c.split('=');
            return (arr[0].trim() === cookie) ? arr[1] : prev;
        }, undefined);
}
    function compile() {
        var sourcecode = document.getElementById("sourcecode").value;

        var formdata = new FormData();
        formdata.append("sourcecode", sourcecode);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://127.0.0.1:5000/compile", true);
        xhr.send(formdata);
        return false;
    }

    function compileAndRun() {
        var sourcecode = document.getElementById("sourcecode").value;

        var formdata = new FormData();
        formdata.append("sourcecode", sourcecode);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://127.0.0.1:5000/compile-and-run", true);
        xhr.send(formdata);
        return false;
    }

    function reset() {
        location.reload();
    }

</script>
</body>
</html>