<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Virtual Machine</title>
    <style>
        .code { background:#EEEEEE; width:700px; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace; }
    </style>
</head>
<body>
    <h1>Virtual Machine</h1>
    <p>
        Edit the source code below and click "Compile" to compile or "Compile and Run" to also execute.
    </p>

    <strong>Source code</strong><br>
    <textarea rows="10" cols="80" style="width:700px" id="sourcecode">
script
{
    a = 1;
    while (a < 10)
    {
        a = a + 1;
        output(a);
    }
}
    </textarea>
    <br/>
    <br/>

    <button onclick="compile();">Compile</button>
    <button>Compile and Run</button>
    <button>Stop</button>
    <br/>
    <br/>
    <br/>

    <strong>Disassembly</strong><br/>
    <div class="code" id="disassembly">
        0000 ABCD 0101 INT 10<br/>
        0002 0203 0201 0200 STFLD 0
    </div>
    <br/>
    <br/>

    <strong>Live Memory</strong><br/>
    <div class="code">
        0000<br/>
        0002<br/>
        0004
    </div>
    <br/>
    <br/>

    <strong>Registers</strong><br/>
    <div class="code">
        sp: 0002<br/>
        pc: 0004
    </div>
    <br/>
    <br/>

    <strong>Console</strong><br/>
    <div class="code">
        1<br/>
        2<br/>
        Program finished.
    </div>
    <br/>
    <br/>

    <i>Status: <span id="connectionStatus" />.</i>

<script>

    function testJSON() {
        var jsonSocket = new WebSocket("ws://128.199.43.95:7379/.json");
        jsonSocket.onopen = function() {
            console.log("JSON socket connected!");
            document.getElementById("connectionStatus").textContent = "Connected";

            // Subscribe to the "bytecodes:{userid}" channel.
            var userid = getCookie("userid");
            jsonSocket.send(JSON.stringify(["SUBSCRIBE", "bytecodes:" + userid]));
        };

        jsonSocket.onmessage = function(messageEvent) {
            console.log("JSON received:", messageEvent.data);

            // If bytecodes, update disassembly.
            var userid = getCookie("userid");
            message = JSON.parse(messageEvent.data);
            console.log(message);
            if(message.SUBSCRIBE[0] == "message" && message.SUBSCRIBE[1] == "bytecodes:" + userid)
            {
                console.log("W00t!");
            }
        };

        jsonSocket.onerror = function(message) {
            console.log("websocket to redis error:", message);
            document.getElementById("connectionStatus").textContent = "Error";
        }

        jsonSocket.onclose = function(message) {
            console.log(("websocket to redis closed: ", message));
            document.getElementById("connectionStatus").textContent = "Not connected";
        }
    }
    testJSON();

    function getCookie(cookie) {
        return document.cookie.split(';').reduce(function (prev, c) {
            var arr = c.split('=');
            return (arr[0].trim() === cookie) ? arr[1] : prev;
        }, undefined);
}
    function compile() {
        var sourcecode = document.getElementById("sourcecode").value;

        var formdata = new FormData();
        formdata.append("sourcecode", sourcecode);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://127.0.0.1:5000/compile", true);
        xhr.send(formdata);
        return false;
    }

</script>
</body>
</html>