<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Virtual Machine</title>
    <style>
        .code { background:#EEEEEE; width:550px; font-size: 11px; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace; }
    </style>
</head>
<body>
    <h1>Virtual Machine</h1>
    <p>
        Edit the source code below and click "Compile" to compile and view the disassembly (bytecodes) or "Compile and Run" to also execute.<br/>
        A live memory view will be continuously updated and any output is shown in the console.
    </p>

    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;">
            <strong>Source code</strong>
            <br/>
            <br/>
            <textarea rows="10" style="width:550px" id="sourcecode">
script
{
    a = 0;
    while (a < 10)
    {
        a = a + 1;
        output(a);
    }
}
            </textarea>
            <br/>
            <br/>
            <button onclick="compile('compile');">Compile</button>
            <button onclick="compile('compile-and-run');">Compile and Run</button>
            <button>Stop</button>
            <button onclick="reset();">Reset</button>
            <i>Status: <span id="connectionStatus" />.</i>
        </div>
        <div style="margin-left: 620px;">
            <strong>Disassembly</strong><br/>
            <div class="code">
                <pre id="disassembly">
Click "Compile" to compile source code.
                </pre>
            </div>
        </div>
    </div>
    <br/>
    <br/>

    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;">
            <strong>Live Memory</strong><br/>
            <div class="code">
                <pre id="memory">
                </pre>
            </div>
        </div>
        <div style="margin-left: 620px;">
            <strong>Registers</strong><br/>
            <div class="code">
                <pre id="registers">
                </pre>
            </div>
            <br/>
            <br/>

            <strong>Console</strong><br/>
            <div class="code">
                <pre id="console">
Click "Compile and run" to view console output from program.
                </pre>
            </div>
        </div>
    </div>


    <br/>
    <br/>

<script>

     var counter = 0;

    function testJSON() {
        document.getElementById("connectionStatus").textContent = "Not connected";
        var jsonSocket = new WebSocket("ws://128.199.43.95:7379/.json");
        jsonSocket.onopen = function() {
            console.log("JSON socket connected!");
            document.getElementById("connectionStatus").textContent = "Connected";

            // Subscribe to the various channels. Could have been done with "*:{userid}".
            var userid = getCookie("userid");
            jsonSocket.send(JSON.stringify(["SUBSCRIBE",
                        "bytecodes:" + userid,
                        "disassembly:" + userid,
                        "console:" + userid,
                        "mem:" + userid]));
        };

        jsonSocket.onmessage = function(messageEvent) {
            counter += 1;
            document.getElementById("registers").textContent = "WebSocket messages received from Redis: " + counter;

            var userid = getCookie("userid");
            message = JSON.parse(messageEvent.data);

            // Respond to messages coming in on subscribed channels.
            if (message.SUBSCRIBE[0] == "message")
            {
                if(message.SUBSCRIBE[1] == "disassembly:" + userid)
                {
                    document.getElementById("disassembly").textContent = message.SUBSCRIBE[2];
                }

                if(message.SUBSCRIBE[1] == "console:" + userid)
                {
                    document.getElementById("console").textContent = message.SUBSCRIBE[2];
                }

                if(message.SUBSCRIBE[1] == "mem:" + userid)
                {
                    document.getElementById("memory").textContent = message.SUBSCRIBE[2];
                }
            }
        };

        jsonSocket.onerror = function(message) {
            console.log("websocket to redis error:", message);
            alert("Websocket error, please refresh page. Message: " + message)
            document.getElementById("connectionStatus").textContent = "Error";
        }

        jsonSocket.onclose = function(message) {
            console.log(("websocket to redis closed: ", message));
            alert("Websocket closed, please refresh page. Message: " + message)
            document.getElementById("connectionStatus").textContent = "Not connected";
        }
    }
    testJSON();

    function getCookie(cookie) {
        return document.cookie.split(';').reduce(function (prev, c) {
            var arr = c.split('=');
            return (arr[0].trim() === cookie) ? arr[1] : prev;
        }, undefined);
}
    function compile(action) {
        var sourcecode = document.getElementById("sourcecode").value;

        var formdata = new FormData();
        formdata.append("sourcecode", sourcecode);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://127.0.0.1:5000/" + action, true);
        xhr.send(formdata);
        return false;
    }

    function reset() {
        location.reload();
    }

</script>
</body>
</html>